# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Update.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\thoma\Documents\Projets\C#\ModPackInstaller\Update\.idea\.idea.Update\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
